---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// Macchina colors
$black: #364149;
$orange: #ff6600;
$blue: #274287;
$light-blue: #b3e2fc;
$gray: #bdcadb;
$white: #fff;

$brand-color: $orange;

.site-header {
    border: {
        top: solid 5px $orange;
      }
    background: $blue;
    color: $white;
    a {
        color: white;
    }
}

@media screen and (max-width: 600px) {
    .site-nav {
        color: $text-color;
    }
}

.site-nav .page-link {
    color: inherit;
}

.site-footer {
    background: $blue;
    color: $white;
    a {
        color: $orange
    }
}

.site-title, .site-title:visited, .site-title:hover {
    color: $white;
    text-decoration: none;
}

.footer-col-wrapper {
    color: $white;
}

.icon > svg path {
    fill: $orange;
}